
.icono{
    display: block;
    padding-top: 0.625rem;
    width: 40%;
    height: 40%;
}


.icono-header{
    width: 50%;
    height: 50%;
}
.titulo-encargo{
    margin-right: 20px;
}

.formulario-extracto input[type="text"],
.formulario-extracto input[type="number"],
.formulario-extracto input[type="submit"]
{
height: 60px;
border: 1px solid #ccc;
box-shadow: 0px 1px 1px   rgba(0, 59, 83,.2);
border-radius: 9px;

}

.formulario-extracto input[type="text"]:focus,
.formulario-extracto input[type="number"]:focus,
.formulario-extracto input[type="submit"]:focus

{

outline: none;
border: 1px solid rgb(0, 0, 0,.4);

box-shadow: 0px 1px 1px  inset  #ccc, 0px -1px -1px #ccc;


}
#btngenerarPlano{
    background-color: rgba(0, 59, 83);
    margin-bottom: 1.25rem;

    
   
}

#btngenerarPlano:hover{
    background-color: rgba(0, 59, 83,.8);
    border: 1px solid #fff;
}

#btngenerarPlano:focus{
    border: none;
    box-shadow: none;
    outline: none;
}

 