<div class="container-fluid">
    <div class="responsive">
      <nav class="container navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
  
  
            <div class="d-flex  ">
              <div (click)="atras()">
                <a style="cursor: pointer; color: #fff;" class="nav-link">
                  <i  class="fas fa-arrow-left mx-2" style="font-size: 20px;"></i>Atrás
                </a>

              </div>
          </div>
            <img class="img-fluid logoCorfi "  src="../../../assets/imagenes/logo-corfi-menu.png" alt="Responsive image">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
              </ul>
              
              
              
              <div class="d-flex ">
                    <div (click)="cerrar()" >

                      <a style="cursor: pointer; color: #fff;" class="nav-link">
                          <i  class="fas fa-sign-out-alt mx-2 " style="font-size: 20px;"></i>Cerrar sesión
                      </a>

                    </div> 
               
                  </div>      
            </div>
          </div>
        </nav>

    </div>
</div>


