
<!-- Footer -->
<footer class="mainfooter" style="background-color: rgba(0, 59, 83);" role="contentinfo">
    <div class="mt-2" style = "background-color: rgba(0, 59, 83);"></div>
    <div class="footer-middle" style="background-color: rgba(0, 59, 83);">
        <div class="container">
            <div class="row align-self">
                <div class="footer-pad">
                    <div class="col-7">
              
                    </div>
                    <ul class="list-unstyled">
                        <div class = "row">
                            <div class="col-6 col-md-6 d-flex justify-content-center">
                                <li>
                                    <a style="text-decoration:none" >
                                        <h6 class="text-white" href="#">
                                            Bogotá:
                                        </h6>
                                        <div>
                                            <small>353 50 66</small>
                                        </div>
                                    </a>
                                </li>
                            </div>
                            <div class="col-6 col-md-6 d-flex justify-content-center">
                                <li>
                                    <a style="text-decoration:none" >
                                        <strong class="text-white" href="#">
                                            En el resto del país:
                                        </strong>
                                        <div>
                                            <small>01 8000 522 238</small>
                                        </div>
                                    </a>
                                </li>
                            </div>
                        </div>
                    </ul>
                    <p class="correo text-center text-break">
                        <a>
                            <small>servicioalclientefiduciaria@fiduciariacorficolombiana.com</small>
                        </a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 copy">
                    <p class="text-center">&copy; 2021 Fiduciaria Corficolombiana S.A - Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </div>
</footer>